@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.white { color: #FFF; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 59.70%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
* { box-sizing: border-box; }

header { 
  width: 100%;
  position: absolute; 
}

.logo {  
  width:14.2%;
  padding-top: 27px;  
}

.logo a { text-indent: -9999px; }
.logo img { float: right; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner starts here*/
.banner {
  width: 100%;
  padding-bottom: 51px;
  background: url(../Images/hero_background.jpg) center/cover no-repeat;
}

.banner .wrapper {
  width: 73.87%;
  padding-top: 96px;
}
.slider { 
  display: flex;
  justify-content: space-between;
}

.banner-info { margin-right: auto; }

.banner-info li {
  display: flex;
  justify-content: space-around;
}

.banner-info li:nth-child(2) { display: none; }


.banner-text { 
  padding-top: 128px; 
  margin-left: 16px;
  flex-basis: 40%;
}

.banner-text h2 {
  margin-bottom: 15px;
  font-size: 38px;
  font-weight: 900;
  line-height: 45px;
}

.banner-text span { 
  font-size: 12px;
  letter-spacing: 1.1px;
}

.le-download { margin-top: 24px; }

.le-download a {
  padding: 15px 30px 13px;
  border-radius: 4px;
  background-color: #49BAE6;
  color: #FFF;
  font-size: 12px;
  font-weight: 900;
}

.banner-info figure {
  margin-left: 18%; 
  flex-basis: 31.3%; 
}

.social { transform: translateY(-30px); }

.social span { 
  margin-left: 8%;
  margin-right: 27px;
  display:inline-block;
  font-size: 11px; 
}

.social span:first-letter { text-transform: capitalize; }
.social-icons { display: inline-block; }

.facebook a { text-indent: -9999px; }

.facebook a::before {
  content: "\f082  Like";
  padding: 2px;
  border-radius: 2px;
  font: 100 9px 'Font Awesome 5 Brands';
  display: inline-block;
  background-color: #FFF;
  color: #3A519B;
  float: right;
  text-indent: 0;
}

.twitter a::before { 
  content: "\f099  Tweet"; 
  font: 600 9px 'Font Awesome 5 Brands';
  color: #000;
}

.facebook::after {
  content: "1.6m";
  padding: 2px;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #FFF;
  color: #000;
  font-size: 9px;
  float: right;
  text-indent: 0;
}

.twitter::after { content: "93"; }
/*banner ends here*/

/*equipments starts here*/
.equipments {
  padding: 71px 0 86px; 
  background-color: #2A84B7;
}

.equipments-list { 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.equipments-list li { flex-basis: 15%; }

.equipments-list figure { 
  width: 87%; 
  margin: 0 auto;
  margin-bottom: 15px; 
}

.total-equipments {
  font-size: 38px; 
  font-weight: 900;
}

.equipments-type { 
  margin-top: 5px;
  display: block;
  font-size: 12px; 
}
/*equipments ends here*/

/*characters starts here*/
.characters { 
  padding: 97px 0 25px; 
  background-color: #ECF0F1;
}

.characters ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.characters li { flex-basis: 32%; }

.characters li:nth-child(1) figure {
  width: 65%; 
  margin: 0 auto;
}

.characters li:nth-child(2) figure { width: 83%; }

.characters li:nth-child(3) figure { 
  width: 60%;
  margin: 0 auto; 
}

.character-text h3 {  
  margin: 20px 0 6px;
  font-size: 23px;
  font-weight: 900;
  text-transform: capitalize;
}

.character-text span { 
  color: #666; 
  font-size: 17px; 
}

.character-text p {
  width: 70%;
  padding: 37px 0 67px;
  margin: 0 auto;
  color: #666;
  font-size: 13px;
  line-height: 20px;
}

.more-detail a {
  padding: 14px 45px;
  border-radius: 3px;
  background-color: #48BAE6;
  color: #FFF;
  font-size: 12px;
}
/*characters ends here*/
.share { 
  padding: 38px 0 42px;
  background-color: #F1C410; 
}

.share p {
  font-size: 20px;
  font-weight: 900;
}

.share p::after {
  content: "\f17d";
  margin-left: 24px;
  font: 900 20px "Font Awesome 5 Brands";
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 50px 0 45px;
  background-color: #D9AF0B;
}

footer .wrapper {
 display: flex; 
 justify-content: space-between;
}

.mail-info,.address-data {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
}

.address-data { flex-basis: 28%; }

.mail-info  li:nth-child(1)::before,
.address-data address::before {
  content: "\f815";
  margin-right: 10px;
  font: 900 20px "Font Awesome 5 Free";
  vertical-align: middle;
  cursor: pointer;
}

.address-data address::before { content: "\f3c5"; }

.skype { flex-basis: 20%; }
.skype li:nth-child(1)::before { 
  content: "\f17e"; 
  font: 900 20px "Font Awesome 5 Brands";
}

.address-data span { line-height: 18px; }

.mail-info a,.address-data span {
  margin-left: 34px;
  color: #FFF;
  font-size: 11px;  
}

.address-data span { width: 60%; }

.mail-info li:nth-child(1) a,
.address-data address {
  margin: 0;
 font-size: 14px; 
  font-weight: 900;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {

  .le-download a,
  .more-detail a { transition: background-color .5s;  }

  .le-download a:hover,
  .more-detail a:hover {
    background-color: #2A84B7;
    transition: background-color .5s;
  }

  .mail-info li a,
  .address-data span,
  .address-data address { transition: color .5s; }

  .mail-info li:hover a,
  .address-data span:hover,
  .address-data address:hover { 
    color: #CCC;
    transition: color .5s;
  }

  .mail-info li::before:hover,
  .address-data address::before { color: #000; }
} 

@media only screen and (max-width: 1024px) {
  .social {
    transform: translateY(10px);
  }

  .wrapper { width: 75%; }
  .banner .wrapper { width: 75%; }
}   

@media only screen and (max-width: 995px) {
  .banner-text { padding-top: 0px; }
} 


@media only screen and (max-width: 768px) {

  .logo {
    margin: 0 auto;
    width: 25%; 
  }

  .banner-info figure { margin-left: 0; }

  .banner-text h2 {
    margin-bottom: 7px;
    font-size: 30px;
    line-height: 36px;
  }

  .le-download { margin-top: 10px; }
  .le-download a { padding: 8px 20px; }
}
}  